a {
    color: rgb(70, 169, 250);
}

.botsTable {
    width: 80%;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 80px;
}

thead>tr>td>h2 {
    font-weight: bold;
}

td {
    width: 50%;
}

@media only screen and (max-width: 600px) {

    tbody>tr>td>p {
        font-size: 14px;
    }

    .botsTable {
        width: 90%;
    }
}